html, body {
  height: 100%;
  margin: 0;
  position: relative;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 450px;
}

#controls {
  position: absolute;
  width: 450px;
  top: 0;
  right: 450px;
  bottom: 0;
  left: 0;
  padding: 20px;
  overflow-x: wrap;
  overflow-y: scroll;
}

table#search-results {
  border-collapse:collapse;
  width: 100%;
}

tr.active {
  background-color: #66bb22;
}

.error {
  color: #dd0000;
}