/* General styles */

html, body {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #222;
}

h1{
    color: #0B4566;
    font-weight: bold;
    font-size: 32px;
}

h2, h3{
  color: #0B4566;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

h3{
  margin: 10px 0px 10px 0px;
  font-size: 14px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #0B4566;
}

input[type=text]{
  border: 1px solid #86A2B3;
}

button{
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 18px 0px;
  cursor: pointer;
}

button:hover{
  background-color: #86A2B3;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 4px 5px;
  text-align: left;
}

/* Specific elements */

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 450px;
}

#controls {
  position: absolute;
  width: 400px;
  top: 0;
  right: 450px;
  bottom: 0;
  left: 0;
  padding: 25px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.scrolling-list {
  max-height: 400px;
  overflow-y: scroll;
}

.horizontal-list {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.active {
  background-color: #66bb22;
}

.clickable:hover {
  background-color: #66bb22;
}

.error {
  color: #dd0000;
}

.rgb-slider {
  flex-grow: 1;
}

.rgb-label, .rgb-selector {
  min-width: 50px;
}

#R .noUi-connect {
	background: #c0392b;
}

#G .noUi-connect {
	background: #27ae60;
}

#B .noUi-connect {
	background: #2980b9;
}

.error-container {
  position: absolute;
  right: 16px;
  top: 0;
  width: 320px;
  height: 100vh;
  overflow: auto;
  z-index: 9999;
  pointer-events: none;
}

ul#errors {
  list-style-type: none;
}

#errors li {
  padding: 16px;
  margin-top: 16px;
  background-color: #880c0c;
  color: white;
  position: relative;
}

#errors li small {
  font-size: 0.6em;
}

#errors li span {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
  pointer-events: all;
}

#errors li span:hover {
  opacity: 0.8;
}
