<!DOCTYPE html>
<html>
<head>

	<title>Terracotta Tile Preview</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}"/>
  <script src="{{ url_for('static', filename='leaflet.js') }}"></script>

</head>
<body>

<div id='map'></div>

<script>
	function getKeys(){
		var http_request = new XMLHttpRequest();
		http_request.open("GET", "/keys", false);
		http_request.send();

		if (http_request.status === 200) {
			return JSON.parse(http_request.responseText)["keys"];
		}

		return [];
	}

  function getDatasets(){
    var http_request = new XMLHttpRequest();
    http_request.open("GET", "/datasets", false);
    http_request.send();

    if (http_request.status === 200) {
      return JSON.parse(http_request.responseText)["datasets"];
    }

    return [];
  }

  function getMapCenter(dataset){
    var http_request = new XMLHttpRequest();
    http_request.open("GET", "/metadata/" + dataset.join("/"), false);
    http_request.send();

    if (http_request.status === 200) {
      var metadata = JSON.parse(http_request.responseText);
			var bounds = metadata["bounds"];
      return [(bounds[1] + bounds[3]) / 2, (bounds[0] + bounds[2]) / 2];
    }

    return [0, 0];
  }


	var keys = getKeys();
	var datasets = getDatasets();

	var dataLayers = {};
  for(var i = 0; i < datasets.length; i++) {
		var ds_keys = [];
		for(var j = 0; j < keys.length; j++) {
			ds_keys[j] = datasets[i][keys[j]];
		}
    dataLayers[ds_keys.join(" | ")] = L.tileLayer("/singleband/" + ds_keys.join("/") + "/{z}/{x}/{y}.png");
  }

  var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

	var osmBase = L.tileLayer(osmUrl, {attribution: osmAttrib})

	var map = L.map('map', {
		center: getMapCenter(ds_keys),
		zoom: 10,
		layers: [osmBase]
	});

	var baseLayers = {
		"OpenStreetMap": osmBase
	};

	L.control.layers(baseLayers, dataLayers).addTo(map);
</script>



</body>
</html>
