<!DOCTYPE html>
<html>
<head>
	<title>Terracotta Explorer</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}"/>
  	<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}"/>
  	<script src="{{ url_for('static', filename='leaflet.js') }}"></script>
	<script src="{{ url_for('static', filename='map.js') }}"></script>
</head>
<body>

<div id='controls'>
	<h1>Terracotta @ {{ hostname }}</h1>

	<h2>What is this?</h2>
	

	<h2>Available keys</h2>
	<ul id="key-list">
	</ul>

	<h2>Search for datasets</h2>
	<div id="search-fields"></div>
	<input type="checkbox"> Show details
	<div class="scrolling-list">
		<table id="search-results">
		</table>
	</div>
	<div id="search-result-controls">
		<button id="prev-page" onclick="incrementResultsPage(-1);" disabled>&lt;</button>
		Page <span id="page-counter">1</span>
		<button id="next-page" onclick="incrementResultsPage(1);">&gt;</button>
	</div>

	<h3>Choose a colormap</h3>
	<select id="colormap-selector" onchange="updateColormap();">
		<option value="greys_r" selected>Greyscale</option>
		<option value="viridis">Viridis</option>
		<option value="rdbu">Red-Blue</option>
	</select>

	<h3>Adjust contrast</h3>
	<div id="singleband-slider">Slider</div>

	<h2>Show RGB image</h2>
	<div id="rgb-search-fields">
	</div>
	<div id="rgb-selectors">
		<div class="horizontal-list">
			<p>R</p>
			<select class="rgb-selector" id="R" onchange="toggleRGBLayer();" disabled></select>
			Slider
		</div>
		<div class="horizontal-list">
			<p>G</p>
			<select class="rgb-selector" id="G" onchange="toggleRGBLayer();" disabled></select>
			Slider
		</div>
		<div class="horizontal-list">
			<p>B</p>
			<select class="rgb-selector" id="B" onchange="toggleRGBLayer();" disabled></select>
			Slider
		</div>
	</div>
</div>

<div id="map"></div>

<script type="text/javascript">
	window.onload = initializeApp.bind(null, "{{ hostname }}");
</script>

</body>
</html>
